
/* Page wide */
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
body {
    font-family: "Lacquer", system-ui;
    font-weight: 300;
    font-style: normal;
    background-image: url('./images/space-6000x4000-.jpg');
    animation: throughSpace 10s linear infinite;
    color: blue;
}
h1 {
    font-family: "Lacquer", system-ui;
    font-weight: bolder;
    color: blue;
    font-size: 5em;
}

@keyframes throughSpace {
    from {background-position: bottom left;}
    to {background-position: top right;}
}

:root {
    --ansur-txt: blue;
    --pando-txt: green;

    font-family: "Lacquer", system-ui;
}

.lacquer-regular {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: oblique;
  }

/* Element-wide */
.opening-text {
    display: flex;
    font: "Lacquer";
}

.opening-text > h1 {
    display: flex;
    margin: 0 auto;
    padding-bottom: 5%;
}

.middle {
    display: flex;
}

/* Holds the checklists and the map */
.content {
    display: inline-flex;
    flex-direction: row;
    align-content: right;
    margin: 0 auto;
}

.checklist-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: fit-content;
    overflow:auto;
    background-color: black;
}

/* Holds both checklist */
.summary-box {
    display: flex;
    position: relative;
    opacity: 1;
    color: purple;
    font-size: 20px;
}

.summary-box:nth-child(1) {
    display: flex;
    position: relative;
    float: left;
}

.summary-box:nth-child(2) {
    display: flex;
    position: relative;
    float: right;
}

.certain {
    pointer-events: none;
}

/* An individual checklist */
fieldset {
    display:inline-block;
    height: auto;
}

label {
    font-size: 1.2em;
    letter-spacing: 0.1em;
    display: inline;
}

.character {
    color: var(--pando-txt);
}

.event {
    color: var(--ansur-txt);
}

fieldset input {
    opacity: 0;
    margin: 0; 
    padding: 0;
}

.checklist-item-container {
    display: block;
    position: relative;
}

/* Hiding the default checkbox */
.container input {
    position: absolute;
    opacity: 1;
}

.checkmark {
    position: absolute;
    height: .8em;
    width: .8em;
    transform: translateY(-22px);
    background-color: rgb(219, 219, 219);
    border-radius: 10%;
    align-content: left;
    outline: solid .5px rgba(173, 173, 173, 1.5);
}

/* Checkmark indicator */
.checkmark::after {
    content: "x";
    font-size: 130%;
    position: absolute;
    transform: translateY(-22px);
    color: rgb(241, 255, 92);
    margin: 0;
    padding: 0;
}
 
label > .checkmark {
    margin: 0;
    padding: 0;
}

label > p {
    padding-left: 13px;
    display: inline;
}

svg {
    align-content: flex-end;
    opacity: 1;
    white-space: nowrap;
}

svg > path {
    fill: rgb(0, 0, 0);
    stroke: var(--pando-txt);
}


svg > a > text {
    fill: antiquewhite;
    font-size: 3em;
    opacity: 0;
}

svg > a > text:hover {
    opacity: 1;
    transform-origin: left;
    transform: scale(1.2);
    transition: linear 2.7s; /* the time is takes to teleport in the Pandominion */
}

/* The pulsing Nigeria beneath the greater map */
.map > svg > path:nth-child(37) {
    fill: blue;
    transform: scale(1);
    animation: pulse 2s infinite;
    transform-origin: center;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rbga(0, 0, 0, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.map > svg > path:nth-child(39) {
    fill: white;
    transform: translateX(28%) translateY(45%) scale(0.5) rotate(15deg);
}
