@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

body {
    font-family: "Carrois Gothic SC", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-image: url('./images/space-6000x4000-.jpg');
    animation: throughSpace 100s linear infinite;
}

h1 {
    font-family: "Carrois Gothic SC", sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 5em;
}

h2 {
    font-family: "Carrois Gothic SC", sans-serif;
    font-size: 2em;
}

h3 {
    font-family: "Carrois Gothic SC", sans-serif;
}

p {
    font-family: "Carrois Gothic SC", sans-serif;
    color: rgb(196, 196, 196);
}

h2 > a:link {
    color:grey;
}

h2 > a:visited {
    color:grey;
}

.carrois-gothic-sc-regular {
    font-family: "Carrois Gothic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
:root {
    --bg-color: grey;
    --pando-txt: red;
    --ansur-txt: #1f3450;
    --bg-space: rgb(13, 8, 34);
    --card-bg: black;
    background-image: url('./images/pexels-brett-sayles-3110354.jpg');
    background-size: cover;
}

img {
    border-radius: 10%;
}

/* HOVER EFFECT */

.middle {
    transition: .5 ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    align-items: center;
}

.card:hover img {
    opacity: 0.3;
}

.card:hover .middle {
    opacity: 1;
}

/* CARDS */

.card-list {
    display: flex;
    padding: 3rem;
    overflow-x: visible;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 550px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    border-width: 5px;
    border-color: rgb(145, 145, 145);
    border-style: solid;
    background: var(--card-bg);
    box-shadow: -1rem 0 3rem #000;
    transition: .2s;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover~.card {
    transform: translateX(130px);
}

.card:not(:first-child) {
    margin-left: -130px;
}

.card-header {
    margin-bottom: 0%;
}

.card-header h1 {
    font-size: 14px;
    color: var(--ansur-txt);
}

.card-header h2 {
    cursor: pointer;
    color:antiquewhite;
    outline: solid 1px white;
    padding-left: .2em;
    padding-top: .2em;
    padding-bottom: .2em;
    margin: 0%;
}

.card-header h3 {
    color:antiquewhite;
    outline: solid .5px white;
    padding-left: .2em;
    padding-top: .2em;
    padding-bottom: .2em;
}

.card-content {
    border-width: 2px;
    border-color: black;
}

.card img {
    object-fit: cover;
}